<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" media="all" href="../css/style.css">
            <script src="https://kit.fontawesome.com/7b9f7b3dcc.js" crossorigin="anonymous"></script>
            <title>Accueil</title>
            <link rel="icon" type="image/x-icon" href="../IMAGE/logoFcMaritime.PNG.png">
        </head>
        <body>
            <header>
                <!-- Logo et Nom du Club à gauche -->
                <a href="accueil.html" class="logo-group">
                    <img src="../IMAGE/logoFcMaritime.PNG.png" alt="logoFcMariners" class="nav-logo">

                </a>

                <!-- Bouton de navigation -->
                <!-- <li><a href="boutique.html">Boutique</a> </li> -->
                <nav class="nav-horizontal">
                    <a href="accueil.html" class="nav-item"><i class="fas fa-anchor"></i> ACCUEIL</a>
                    <a href="equipe.html" class="nav-item"><i class="fas fa-users"></i> ÉQUIPE</a>
                    <a href="#" class="nav-item"><i class="fas fa-shopping-bag"></i> BOUTIQUE</a>
                    <a href="billeterie.html" class="nav-item"><i class="fa-solid fa-money-bill"></i>BILLETERIE</a>
                    <a href="contact.html" class="nav-item"><i class="fa-solid fa-address-book"></i>CONTACT</a>
                </nav>
            </header>
            <section>
                <article>
                    <h2>La Légende des <span style="color: #800020;">"Grenats</span> de l'Océan"</h2>
                    <div class="introFcMaritime">
                        <div class="laFondation">
                        <!--Fondation-->
                        <h3>1. La Fondation (1924) :</h3>
                        <p>
                            L’alliance de la terre et de la mer
                            Le club naît d'une fusion improbable entre les dockers du port et les vignerons des collines
                            environnantes. Pour sceller cette union, ils choisissent le Bordeaux (rappelant le vin et le
                            sang versé à l'effort) et le Bleu Ciel (couleur de l'horizon marin par temps calme). On
                            raconte que le premier jeu de maillots fut teint avec du jus de raisin et de la nacre broyée.
                        </p>
                            <img src="../IMAGE/away.jpg.png">
                            <img src="../IMAGE/end.jpg.png">
                        </div>
                        <div class="miracleFalaise">
                        <!--L'âge d'or du club-->
                        <h3>2. L'Âge d'Or : Le Miracle des Falaises (1970-1975)</h3>
                        <p>
                            Pendant des décennies, le FC Maritime reste un club modeste. Tout change en 1972, sous
                            l'impulsion de l'entraîneur mystique Silas "L'Amiral" Vane. Il impose un style de jeu
                            révolutionnaire basé sur le ressac : une défense qui recule pour mieux aspirer l'adversaire
                            avant de contre-attaquer comme une déferlante. Le club remporte alors sa première Coupe
                            Nationale, devenant le "Petit Poucet" qui a fait trembler les géants.
                        </p>
                        <img src="../IMAGE/ressac.jpg">
                        </div>
                        <div class="grandeTempete">
                        <!--La Grande Tempête-->
                        <h3>3. La Grande Tempête (1998)</h3>
                        <p>
                            Une terrible tempête détruit les tribunes en bois de l'ancien stade. Ruiné, le club faillit
                            disparaître. C’est la solidarité des supporters, surnommés les "Veilleurs", qui sauve
                            l'institution : chaque habitant de Port-Saphir donne une journée de salaire pour reconstruire
                            ce qui deviendra l'actuel Stade des Falaises. C'est de là que vient la devise : « In
                            Tempestate, Lux » (Dans la tempête, la lumière).
                        </p>
                            <img src=../IMAGE/stadeFictif.jpg.jpg>
                        </div>
                        <div class="versLesSommets">
                        <!--Vers les sommets-->
                        <h3>4. Aujourd’hui : Vers les sommets</h3>
                        <p>
                            Aujourd'hui, l'Étoile Maritime FC est reconnu pour son centre de formation, "La Forge Marine",
                            qui produit des joueurs techniques et endurants. Le club est devenu le symbole d'une ville
                            qui ne baisse jamais les bras, portant fièrement ses couleurs bordeaux et bleu ciel sur tous
                            les terrains du pays. Anecdote Célèbre: Avant chaque coup d'envoi à domicile, le capitaine
                            de l'équipe plonge une étoile de mer dans un sceau d'eau salée prélevée le matin
                            même au port. Un rituel censé garantir la protection de l'océan durant les 90 minutes de jeu.
                        <img src="../IMAGE/trophee.PNG">
                        </p>
                        </div>
                    </div>
                    <h2>Rencontres à venir:</h2>

                </article>
                <article>
                    <table>
                        <!--Titre du tableau-->
                        <caption><h4>CALENDRIER RENCONTRES</h4></caption>
                        <thead>
                        <!--Ligne1-->
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Adversaire</th>
                            <th scope="col">Lieu</th>
                            <th scope="col">Enjeu du match</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--Ligne2-->
                        <tr>
                            <td>04 Avril 2026</td>
                            <td>Union Sportive des Marais</td>
                            <td>Stade des Falaises (domicile)</td>
                            <td>Le Derby du Delta: Le match le plus attendu de l'année contre le rival historique.</td>

                        </tr>
                        <!--Ligne 3-->
                        <tr>
                            <td>11 avril 2026</td>
                            <td>AS Val-Montagne</td>
                            <td>L'altitude Stadium (extérieur)</td>
                            <td>Choc du haut de tableau contre une équipe très physique et difficile à jouer en altitude.</td>

                        </tr>
                        <!--Ligne 4-->
                        <tr>
                            <td>19 Avril 2026</td>
                            <td>Racing Club de la Baie</td>
                            <td>Stade des Falaises (domicile)</td>
                            <td>Match cruciale pour la qualification européenne: Le stade sera à guichet fermé.</td>

                        </tr>
                        <!--Ligne 5-->
                        <tr>
                            <td>25 Avril 2026</td>
                            <td>Fc Citadelle</td>
                            <td>Le Donjon (extérieur)</td>
                            <td>Déplacement piège chez la lanterne rouge qui joue sa survie pour le maintien.</td>
                        </tr>
                        <!--Ligne 6-->
                        <tr>
                            <td>02 Mai 2026</td>
                            <td>Olympique forestier</td>
                            <td>Stade des Falaises (domicile)</td>
                            <td>Réception du leader actuel. L'occasion pour le FC Maritime de montrer de quel bois il se chauffe.</td>

                        </tr>
                        </tbody>
                    </table>
                </article>
            </section>
            <footer>
                <!--Copyright-->
                <h3>Copyright:<i class="fa-solid fa-ship"></i> Laroche Anthony<i class="fa-solid fa-ship"></i></h3>
                <nav class="nav-horizontal">
                    <a href="#" class="nav-item"><i class="fas fa-anchor"></i> HAUT DE PAGE</a>
                    <a href="https://fr-fr.facebook.com/" target="_blank" class="nav-item"><i class="fa-brands fa-facebook"></i> FACEBOOK</a>
                    <a href="https://www.instagram.com/?hl=fr" target="_blank" class="nav-item"><i class="fa-brands fa-square-instagram"></i> INSTAGRAM</a>
                    <a href="https://x.com/?lang=fr" target="_blank" class="nav-item"><i class="fa-brands fa-twitter"></i> TWITTER</a>
                    <a href="contact.html" class="nav-item"><i class="fa-solid fa-address-book"></i>CONTACT</a>

                </nav>
            </footer>
        </body>

    </html>